*{
    margin:0;
    padding:0;
}
body{
    background-color: #232323;
}
.acolor a{
    color: #7c439d;
}
p a{
    color: #0005dd;
}
.container{
    margin-left: 115px;
    margin-right:115px;
    background-color: #dedede;
}
.header{
    float: left;
    height:60px;
    width: 1355px;
    background-color: #333333;
    margin-bottom: 20px;
}
.part{
    margin-left: 940px;
    font-size: 15px;
}
.part li{
    float: left;
    width:80px;
    margin: 20px 10px;
    color: #000000;
}
.header a{
    color: #ffffff;
    text-decoration-line: none;
}
.header img{
    float: left;
    margin-left: 50px;
    margin-top: 7px;
}
.body{
    clear: both;
}
.body_1,.body_2,.body_3,.body_4,.body_5{
    margin: 20px;
    padding:40px 20px;
    background-color: #ffffff;
    font-family: '微软雅黑';
}
.body_1,.body_2 p{
    text-indent: 2em;
}
.color1,.color2,.color3{
    margin: 20px auto;
    color: gray;
}
.part2{
    list-style: none;
}
.body_4 ol{
    margin-left: 40px;
}
.img1{
    margin-top: 20px;
    margin-left: 20px;
    width: 300px;
    height:280px;
    border:1px solid;
    text-align: center;
    padding-top: 20px;
}
.img1 img{
    width:250px;
    height:200px;
    margin-left: 20px;
    margin-right: 20px;
}
.body_4 table,td{
    width:1280px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-collapse: collapse;
}
th{
    text-align: left;
    color: #ffffff;
    background-color: #333333;
}
tfoot td{
    background-color: #cccccc;
}
.tiao{
    float: left;
    width:3px;
    height:36px;
    background-color: #cccccc;
}
.body_5 h4{
    margin-top: 7px;
    margin-left: 8px;
}
.form{
    overflow: hidden;
    /*text-align: center;*/
    font-size: 15px;
}
.form1{
    text-align: right;
    float: left;
    margin-left:300px;
}
.form2{
    margin-right: 500px;
    text-align: left;
    float: right;
}
.form2 p{
    font-size: 15px;
    color: #cccccc;
}
#big{
    width: 300px;
}
.form3{
    padding-top: 20px;
    clear: both;
    text-align: center;
}
.form3 input{
    color: #ffffff;
    border:2px solid #3356cf;
    width: 1273px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #3356cf;
}
.footer{
    clear: both;
    color: #ffffff;
    height: 70px;
    width: 1355px;
    background-color: #000;
}
.footer p{
    padding-top: 20px;
    text-align: center;
    font-size: 20px;
}